body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #646464;
    color: #333;
}

.container {
    width: 60%;
    margin: 20px auto;
    background: #646464;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
}

h1 {
    color: #007BFF;
}

h2 {
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #007BFF;
    color: white;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: center;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
